header{
  background-color: #84a9ac;
}

.first{
  background-color: #cff6cf;
}

.second{
  background-color: #e7dfd5;
}

.three{
  background-color:#CCAFAF;
}

.four{
  background-color: #a0c1b8;
}

.five{
  background-color: #fbc687;
}
